.myFont {
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, "Segoe UI";
}
.myLabel {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, "Segoe UI";
}
.navbar {
  width: 100%;
}
.myFontLabel {
  margin-left: 10px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, "Segoe UI";
}
.rowB {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.chart{
    width: 50%;
}
myCustomPreviousText{
  color:blue;
}
myCustomNextText{
  color: blue;
}

